<div class="container h-100">
    <section class="h-100">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                        class="fa fa-tasks"></i>&nbsp;{{ tituloLista }}</div>
            </div>
            <div class="ps-content">
                <ul class=" list-group list-group-flush">
                    <li class="btn d-block bg-light" (click)="openModal()" style="cursor: pointer;">
                        <h6 class="mt-2 " style="cursor: pointer;"><i class="fa fa-plus"></i> Nova Tarefa</h6>
                    </li>
                    <li class="list-group-item " *ngFor="let tarefa of tarefas; trak" >
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-2">
                                    <div class="icon">
                                        <svg width="35px" height="35px" viewBox="0 0 24 24">
                                            <title>Concluir</title>
                                            <defs></defs>
                                            <g class="btn"  (click)="concluirTarefa(tarefa.id!)"  stroke="none" stroke-width="1" fill="none"
                                                fill-rule="evenodd">
                                                <polygon id="bound" points="0 0 24 0 24 24 0 24" ></polygon>
                                                <circle class="circulo-maior" [ngClass]="{' fill-urgente': tarefa.prioridade === 'Urgente', ' fill-padrao': tarefa.prioridade !== 'Urgente'}" opacity="0.8" cx="12" cy="12" r="7"></circle>
                                                <circle class="circulo-menor" opacity="0.3" cx="12" cy="12" r="5"></circle>
                                            </g>
                                        </svg>
                                    </div>

                                </div>
                                <div class="widget-content-left" style="cursor: pointer;" (click)="openModal(tarefa)">
                                    <div class="widget-heading">{{tarefa.titulo}}</div>
                                    <div class="widget-subheading"><i>{{tarefa.descricao}}</i></div>
                                </div>
                                <div class="widget-content-right">
                                    <button class="border-0 btn-transition btn btn-outline-danger" (click)="apagarTarefa(tarefa.id!)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>                    
                </ul>                
            </div>
            <div class="d-flex justify-content-between text-right card-footer">
                <div>
                    <button class="mr-2 btn btn-link btn-sm" [routerLink]="['/listastarefa']"> Voltar </button>
                </div>
                <span>{{tarefas.length}} tarefas</span>
            </div>
        </div>
    </section>
</div>

<ng-template #modalTarefa let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon" (click)="concluirTarefa(tarefaSelecionada!.id!)" >
                <svg width="35px" height="35px" viewBox="0 0 24 24">
                    <title>Concluir</title>
                    <defs></defs>
                    <g class="btn" id="btnConcluir" stroke="none" stroke-width="1" fill="none"
                        fill-rule="evenodd">
                        <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                        <circle id="Oval-32" [ngStyle]="{fill: cor}" opacity="0.8" cx="12" cy="12" r="7"></circle>
                        <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="12" cy="12" r="5"></circle>
                    </g>
                </svg>
            </div>
            <textarea #txtTitulo class="form-control input-titulo-tarefa no-resize no-overflow" rows=1 maxlength="500" *ngIf="tarefaSelecionada" [ngModel]="tarefaSelecionada.titulo" (ngModelChange)="resize(txtTitulo)"></textarea>
            <button type="button" class="btn btn-close" (click)="modal.dismiss()"></button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <label for="textarea" class="col-sm-2 control-label">Descrição:</label>
                    <div class="col-12">
                        <textarea name="" id="textarea" class="form-control no-resize" rows="4" *ngIf="tarefaSelecionada" [ngModel]="tarefaSelecionada.descricao"></textarea>
                    </div>
                </div>

                <br>
                
                <div class="row">
                    <div class="col-4 ">
                        <label class="label">Prioridade:</label>
                        <select class="form-control" type="text" *ngIf="tarefaSelecionada" [ngModel]="tarefaSelecionada.prioridade">
                            <option value="">🔴 Urgente</option>
                            <option value="">🟡 Importante</option>
                            <option value="">🔵 Normal</option>
                            <option value="">⚫ Ocasional</option>
                        </select>
                    </div>

                    <div class="col-4 ">
                        <label class="label">Prazo:</label>
                        <input class="form-control" type="text" name="" id="" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                    
                    <div class="col-4">
                        <label class="label">Etiqueta:</label>
                        <select class="form-control" type="text" *ngIf="tarefaSelecionada" [ngModel]="tarefaSelecionada.status">
                            <option value=""></option>
                            <option value="">💰Pagamento</option>
                            <option value="">👉Delegar</option>
                            <option value="">🔀Opcional</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!tarefaNova" type="button" class="btn btn-primary" (click)="atualizarTarefa()">Atualizar</button>
            <button *ngIf="tarefaNova" type="button" class="btn btn-primary" (click)="novaTarefa()">Criar Tarefa</button>
        </div>
    </div>
</ng-template>