<div class="container h-100">
    <section class="h-100">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="controle-search d-flex justify-content-between align-items-center gap-5 mb-3">
                <div id="filtro-tarefa" class="input-group">
                    <input type="text" class="form-control " placeholder="Buscar Tarefa" [(ngModel)]="filtro">
                    <div class="input-group-append" *ngIf="filtro && filtro.trim().length > 0" style="position: absolute; top: 50%; right: 8px; transform: translateY(-50%)">
                        <button class="btn btn-outline-secondary" type="button" (click)="filtro=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div id="btn-listas" class="btn-group">
                    <button class="btn"><i class="fa fa-search fa-lg"></i></button>
                    <button type="button" class="btn btn-sm dropdown-toggle" (click)="toggleOrdenacao()"
                        data-bs-toggle="dropdown"><i class="fa fa-filter fa-lg"></i></button>
                    <ul class="dropdown-menu dropdown-menu-end" [ngClass]="{ 'show': isOrdemOpen }"
                        data-bs-auto-close="true">
                        <li><a class="dropdown-item" disabled>Ordenar Listas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="ordenarLista(1)"><i class="fa fa-arrow-down-1-9"></i> ID
                                (Crescente)</a></li>
                        <li><a class="dropdown-item" (click)="ordenarLista(0)"><i class="fa fa-arrow-down-9-1"></i> ID
                                (Decrescente)</a></li>
                        <li><a class="dropdown-item" (click)="ordenarLista(2)"><i class="fa fa-arrow-down-a-z"></i>
                                Título (Crescente)</a></li>
                        <li><a class="dropdown-item" (click)="ordenarLista(3)"><i class="fa fa-arrow-down-z-a"></i>
                                Título (Decrescente)</a></li>
                        <li><a class="dropdown-item" (click)="ordenarLista(4)"><i class="fa fa-shuffle"></i> Ordenação
                                Padrão</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="ps-content">
                <ul class=" list-group list-group-flush">
                    <li class="btn d-block bg-light" (click)="openModal()" style="cursor: pointer;">
                        <h6 class="mt-2 " style="cursor: pointer;"><i class="fa fa-plus"></i> Nova Tarefa</h6>
                    </li>
                    <li class="list-group-item " *ngFor="let tarefa of tarefaFiltrada" style="cursor: pointer;" (click)="openModal(tarefa)">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-2">
                                    <div class="icon">
                                        <svg width="35px" height="35px" viewBox="0 0 24 24">
                                            <title>Concluir</title>
                                            <defs></defs>
                                            <g class="btn btn-concluir" (click)="concluirTarefa(tarefa.id!)" onclick="event.stopPropagation()"  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon id="bound" points="0 0 24 0 24 24 0 24" ></polygon>
                                                <circle class="circulo-maior" [ngClass]="getPrioridadeCssClass(tarefa.prioridade!)" opacity="0.8" cx="12" cy="12" r="7"></circle>
                                                <circle class="circulo-menor" opacity="0.3" cx="12" cy="12" r="5"></circle>
                                            </g>
                                        </svg>
                                    </div>

                                </div>
                                <div class="widget-content-left">
                                    <div class="widget-heading" [ngClass]="getPrazoCssClass(tarefa.dataLimite!)">{{tarefa.titulo}}</div>
                                    <div class="widget-subheading"><i>{{tarefa.descricao}}</i></div>
                                    <div class="widget-subheading mt-2 d-flex">
                                        <div *ngIf="tarefa.dataLimite" [ngClass]="getPrazoCssClass(tarefa.dataLimite)">
                                            <i class="fa fa-calendar" aria-hidden="true"></i><i class="p-1">Prazo: {{getPrazo(tarefa.dataLimite)?.toLocaleDateString("pt-br")}}</i>
                                        </div>

                                        <div style="margin-left: 10px" *ngIf="tarefa.etiqueta">
                                            <i class="fa fa-tag" aria-hidden="true"></i><i class="p-1">{{tarefa.etiqueta}}</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    <button class="border-0 btn-transition btn btn-outline-danger" (click)="showConfirmaModal(modalConfirma,tarefa.id!, tarefa.titulo!)" onclick="event.stopPropagation()">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>                    
                </ul>                
            </div>
            <div class="d-flex justify-content-between text-right card-footer">
                <div>
                    <button class="mr-2 btn btn-link btn-sm" [routerLink]="['/listastarefa']"> Voltar </button>
                </div>
                <span>{{tarefaFiltrada.length}} tarefas</span>
            </div>
        </div>
    </section>
</div>

<ng-template #modalTarefa let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon" (click)="concluirTarefa(tarefaSelecionada!.id!)" onclick="event.stopPropagation()">
                <svg width="35px" height="35px" viewBox="0 0 24 24">
                    <title>Concluir</title>
                    <defs></defs>
                    <g class="btn btn-concluir" id="btnConcluir" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                        <circle id="Oval-32" [ngClass]="getPrioridadeCssClass(tarefaSelecionada.prioridade!)" opacity="0.8" cx="12" cy="12" r="7"></circle>
                        <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="12" cy="12" r="5"></circle>
                    </g>
                </svg>
            </div>
            <textarea #txtTitulo class="form-control input-titulo-tarefa no-resize no-overflow" rows=1 maxlength="500" placeholder="Título" [(ngModel)]="tarefaSelecionada.titulo" (ngModelChange)="resize(txtTitulo)"></textarea>
            <button type="button" class="btn btn-close" (click)="modal.dismiss()"></button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <label for="textarea" class="col-sm-2 control-label">Descrição:</label>
                    <div class="col-12">
                        <textarea name="" id="textarea" class="form-control no-resize" rows="4" [(ngModel)]="tarefaSelecionada.descricao"></textarea>
                    </div>
                </div>

                <br>
                
                <div class="row">
                    <div class="col-4 ">
                        <label class="label">Prioridade:</label>
                        <select class="form-control" type="text" [(ngModel)]="tarefaSelecionada.prioridade">
                            <option value="1">🔴 Urgente</option>
                            <option value="2">🟡 Importante</option>
                            <option value="3">🔵 Normal</option>
                            <option value="4">⚫ Ocasional</option>
                        </select>
                    </div>

                    <div class="col-4 ">
                        <label class="label">Prazo:</label>
                        <input class="form-control" [ngClass]="getPrazoCssClass(prazoToDate())" type="text" name="" id="" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" [(ngModel)]="prazoSelecionado">
                    </div>
                    
                    <div class="col-4">
                        <label class="label">Etiqueta:</label>
                        <select class="form-control" type="text">
                            <option value=""></option>
                            <option value="pagamento">💰Pagamento</option>
                            <option value="delegar">👉Delegar</option>
                            <option value="opcional">🔀Opcional</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!tarefaNova" type="button" class="btn btn-primary" (click)="atualizarTarefa(); modal.dismiss();">Atualizar</button>
            <button *ngIf="tarefaNova" type="button" class="btn btn-primary" (click)="novaTarefa(); modal.dismiss();">Criar Tarefa</button>
        </div>
    </div>
</ng-template>

<ng-template #modalConfirma let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa-solid fa-triangle-exclamation fa-fade"
                    style="color: #e22222;"></i> Confirmar Exclusão</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body mb-10">
            <h5 class="line-spacing" >Você está prestes a excluir a tarefa: <a style="color: #e22222; text-decoration: underline;">{{ tarefaDeletar! }}</a>.<br/> Tem certeza disso? </h5>
            <h6 class="line-spacing">
                Lembre-se de que, caso essa seja uma tarefa compartilhada, ela não estará mais disponível para outros usuários.</h6>
        </div>
        <div class="modal-footer gap-2">
            <a class="link-button" style="cursor: pointer;" (click)="modal.dismiss()">
                Cancelar
            </a>
            <button type="button" class="btn btn-primary" (click)="deletarTarefa(tarefaDeletarId!)">
                Confirmar
            </button>
        </div>
    </div>
</ng-template>