<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="controle-search">
                <div id="titulo">
                    <span class="activity-done">Listas de Tarefa</span>
                </div>
                <div id="filtro-lista">
                    <input type="text" class="form-control " placeholder="Buscar Lista" [(ngModel)]="filtro">
                </div>
                <div id="btn-listas" class="btn-group">
                    <button class="btn"><i class="fa fa-search fa-lg"></i></button>
                    <button type="button" class="btn btn-sm dropdown-toggle" (click)="toggleOrdenacao()"
                        data-bs-toggle="dropdown"><i class="fa fa-filter fa-lg"></i></button>
                    <ul class="dropdown-menu dropdown-menu-end" [ngClass]="{ 'show': isOrdemOpen }"
                        data-bs-auto-close="true">
                        <li><a class="dropdown-item" disabled>Ordenar Listas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="ordenarLista(1)"><i class="fa fa-arrow-down-1-9"></i> ID
                                (Crescente)</a></li>
                        <li><a class="dropdown-item" (click)="ordenarLista(0)"><i class="fa fa-arrow-down-9-1"></i> ID
                                (Decrescente)</a></li>
                        <li><a class="dropdown-item" (click)="ordenarLista(2)"><i class="fa fa-arrow-down-a-z"></i>
                                Título (Crescente)</a></li>
                        <li><a class="dropdown-item" (click)="ordenarLista(3)"><i class="fa fa-arrow-down-z-a"></i>
                                Título (Decrescente)</a></li>
                        <li><a class="dropdown-item" (click)="ordenarLista(4)"><i class="fa fa-shuffle"></i> Ordenação
                                Padrão</a></li>
                    </ul>
                </div>
            </div>
            <div class="mt-3">
                <ul class="list list-inline">
                    <li class="btn d-block bg-light" style="cursor: pointer;">
                        <h6 *ngIf="!nvList" class="mt-1 " style="cursor: pointer;" (click)="nvList = !nvList"><i
                                class="fa fa-plus"></i> Nova Lista</h6>
                        <div *ngIf="nvList" class="input-group" (keydown.escape)="nvList = !nvList">
                            <input type="text" class="form-control" placeholder="Nome da Lista"
                                [(ngModel)]="tituloListaNova" autofocus (ngBlur)="nvList = !nvList"
                                (keydown.escape)="nvList = !nvList"
                                (keydown.enter)="tituloListaNova? novaLista() : nvList = !nvList">
                            <button type="button" class="btn btn-outline-secondary" (click)="novaLista()">
                                <i style="color: #35d03f;" class="fa fa-check"></i>
                            </button>
                        </div>
                    </li>
                    <li *ngFor="let item of listaFiltrada!">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center"><i class="fa fa-check-circle checkicon">
                                </i>
                                <div class="ml-2">
                                    <h6 *ngIf="listaEditarId !== item.id!" class="mb-0"><a class="linkTarefas"
                                        [routerLink]="['/listartarefas/',item.id]">{{ item.nomeLista }}</a>
                                    </h6>
                                    <div *ngIf="listaEditarId === item.id!" class="input-group" (keydown.escape)="listaEditarId = 0">
                                        <input type="text" style="font-weight: bold; font-size: 1.2rem; " class="form-control" value="tituloListaEditar"
                                            [(ngModel)]="tituloListaEditar" autofocus (ngBlur)="listaEditarId = 0"
                                            (keydown.escape)="listaEditarId = 0"
                                            (keydown.enter)="tituloListaEditar? editarLista() : listaEditarId = 0">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row gap-2 align-items-center dropdown">
                                <div class="d-flex flex-column mr-2">
                                </div>
                                <button *ngIf="listaEditarId !== item.id!" class="btn btn-sm btn-outline-success" (click)="listaEditarId = item.id!; tituloListaEditar = item.nomeLista!">
                                    <i class="fa fa-pen-to-square"></i>
                                </button>
                                <button *ngIf="listaEditarId === item.id!" class="btn btn-sm btn-outline-success" (click)="editarLista() ;listaEditarId = 0">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger"
                                    (click)="showConfirmaModal(modalConfirma, item.id!, item.nomeLista!)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-template #modalConfirma let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa-solid fa-triangle-exclamation fa-fade"
                    style="color: #e22222;"></i>Confirmar Exclusão</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body mb-10">
            <h5 class="line-spacing">Tem certeza que deseja excluir a lista <a
                    style="color: #e22222; text-decoration: underline;">{{ tituloListaDeletar }}</a>?</h5>
            <h6 class="line-spacing">Lembre-se de que todas as tarefas associadas a ela também serão
                excluídas. Caso existam tarefas compartilhadas nessa lista, elas não estarão mais disponíveis para
                outros usuários.</h6>
        </div>
        <div class="modal-footer gap-2">
            <a class="link-button" style="cursor: pointer;" (click)="modal.dismiss()">
                Cancelar
            </a>
            <button type="button" class="btn btn-primary" (click)="deletarLista(idListaDeletar!)">
                Confirmar
            </button>
        </div>
    </div>
</ng-template>