<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }" (mouseleave)="atualizarListas()">
    <div class="header d-flex">
        <div class="content" >                
            <div class="link" [routerLink]="['/listastarefa']" [routerLinkActive]="'active'" style="cursor: pointer;"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp; Listas &nbsp;
            </div>
            <i (click)="handleSidebarToggle()" class="fa chevron"></i></div>
    </div>
    <div class="content">

        <div class="link with-children">
            <div class="children">
                <div class="link" *ngFor="let item of listaTarefas;">
                    <div class="content" [routerLink]="['/listartarefas/'+(item.id)]" [routerLinkActive]="'active'">
                        <div class="icon">                           
                            <i class="fa fa-list-ol" aria-hidden="true"></i>
                        </div>
                        <div class="title">{{ item.nomeLista }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>