<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="input-group mb-3">
            <span class="input-group-text far fa-circle-user"></span>
            <input type="text" class="form-control" placeholder="Nome completo">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text far fa-envelope"></span>
            <input type="email" name="email" class="form-control" placeholder="Email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text fa fa-a"></span>
            <input type="password" name="senha" class="form-control rounded-end" style="margin-right: 10px;"
                placeholder="Senha" required [(ngModel)]="senha" (input)="comparaSenha()">
            <span class="input-group-text fa fa-lock rounded-start"></span>
            <input type="password" name="confSenha" class="form-control " placeholder="Confirmar senha" required
                [(ngModel)]="confSenha" (input)="comparaSenha()">
        </div>
        <div *ngIf="!compara" class=" alert alert-danger">Senhas não conferem.</div>
    </div>
</div>