
<div *ngIf="mostrarMenu">
    <my-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></my-sidebar>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/listastarefa"><i class="fa fa-award"></i> Meus Objetivos</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="padding: 5px">
            <h5 *ngIf="auth.usuario" style="color: #ddebf8; margin-right: 20px; font-weight: normal;"><i  class="far fa-circle-user"></i> {{ auth.usuario.nome! }}</h5>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-outline-light" (click)="deslogar()">
                        <i class="fa fa-logout"></i> Logout
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>


<main class="container mt-4">
    <div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
        <router-outlet></router-outlet>
    </div>
</main>