<form>
    <div class="form-group">
        <label for="titulo">* Titulo da Tarefa: </label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="titulo" placeholder="Ex: Organizar área de trabalho" required>
        </div>

        <label class="form-label" for="descricao">Descrição: </label>
        <div class="input-group mb-3">
            <textarea rows="5" id="descricao" type="text" class="form-control" placeholder="Ex: 
    - Organizar pastas
    - Categorizar ícones
    - [...]"></textarea>
        </div>

        <div class="row align-items-center">
            <label class="form-label col-auto" for="dtLimite">Data limite: </label>
            <div class="col-md-2">
                <input type="date" class="form-control" id="dtLimite">
            </div>
            <label class="form-label col-auto" for="status">* Status: </label>
            <div class="col-md-4">
                <select class="form-select col-md-3" id="autoSizingSelect">
                    <option selected>Selecione o status</option>
                    <option value="1">A Fazer</option>
                    <option value="2">Em Andamento</option>
                    <option value="3">Concluido</option>
                </select>
            </div>
            <div class="col-auto">
                <input class="form-check-input " id="prioridade" type="checkbox" (change)="toggleUrgente()"
                    [checked]="urgente">
                <span [class.redbold]="urgente" for="prioridade"> Urgente? </span>
            </div>
        </div>
    </div>
</form>